<meta charset="UTF-8">
<meta name="viewport"content="width=device-width,initial-scale=1.0">
<title>Blog | <%= title %> </title>
<link rel="stylesheet" href="/style.css">
<link rel="shortcut icon" href="/blog.png" type="image/png">
<script src="https://kit.fontawesome.com/0f247ccc67.js" crossorigin="anonymous" defer></script>

<%# because alreay point to public folder, so dont need to ../../ %> 