<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
</head>
<body>
  
  <%- include('./partials/nav.ejs') %>

  
  <div class="not-found content">
    404 OOPS,page not found 
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>