<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
</head>
<body>
  
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi tene
    <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi tene
    <p>Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quia quibusdam quaerat illoamodi tene
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>